body {
  text-align: center;
}

.btn {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 0.5rem;
}

.upperLine {
  display: flex;
  justify-content: center;
}

.lowerLine {
  display: flex;
  justify-content: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.gameflash {
  background-color: white;
}

.userflash {
  background-color: green;
}
